body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:969px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:46px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:457px;
  height:45px;
  font-size:14px;
  line-height:22px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:529px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:139px;
  width:919px;
  height:528px;
  line-height:24px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  word-wrap:break-word;
}
